@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  --clr-primary-1: #2f5d62;
  --clr-primary-2: #a7c4bc;
  --clr-primary-3: #dfeeea;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0 200px;
  font-family: "Noto Sans TC", sans-serif;
  color: var(--clr-primary-1);
}

a {
  text-decoration: none;
  color: unset;
}
