@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap");
@import "~antd/dist/antd.css";

/*
=============== 
Variables
===============
*/
:root {
  --clr-primary-1: #383838;
  --clr-primary-2: #efefef;
  --clr-primary-3: #fff;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#body {
  /* margin: 0 200px; */
  font-family: "Noto Sans TC", sans-serif;
  color: var(--clr-primary-1);
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: var(--clr-primary-1);
}

.section {
  padding: 5rem 0;
}
.section-center {
  margin: 0 auto;
}

h3 {
  color: unset;
}
